<div class="testSearch">
  <form #frm="ngForm">
    <div *ngIf="_error === 'Movie not found!'" class="testSearch__error">
      {{_error}}
    </div>
    <div class="testSearch__form-field">
      <app-input-delay
        delay="500" 
        placeholder="Введите название фильма"
        (value)="_autocomplete($event)"
      >
      </app-input-delay>
      <div class="testSearch__autocomplete">
        <a *ngFor="let _movie of _autocompleteMovies" (click)="_detailedMovie(_movie)" class="testSearch__movie movie">
          <div class="movie__poster">
            <img src="{{_movie.Poster}}" class="movie__image">
          </div>
          <div class="movie__descriptions">
            <h3 class="movie__caption">{{_movie.Title}}</h3>
            <div class="movie__actors">В ролях: <strong>{{_movie.Actors}}</strong></div>
            <div class="movie__rating">Рейтинг <strong>IMDB</strong>: {{_movie.imdbRating}}</div>
          </div>
        </a>
      </div>
    </div>
    <mat-form-field class="testSearch__form-field year">
      <input 
        class="testSearch__search-field" 
        matInput
        name="year"
        [(ngModel)]="_movieYear"
        placeholder="Год выпуска"
      >
    </mat-form-field>
    <button type="submit" (click)="_searchMovie()" class="testSearch__button" mat-flat-button color="primary">Искать</button>
  </form>
</div>